{{- $pages := where site.RegularPages "Section" "==" $.Page.Section }}

{{- range first 5 $pages}}

<article>
  <header>
    <p>
	<a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
		{{ .Title }}
		{{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
		{{- if not .Date.IsZero -}}
		&nbsp;-&nbsp;
		{{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
		{{- end -}}
	</a>		
    </p>
  </header>

</article>
{{- end }}